@font-face {
    font-family: myFont;
    src: url("../../fonts/PRISTINA.TTF");
}
.fontclass{
    font-family: myFont;
    font-size:20px;
}
.styleclass{
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    font-weight: normal;
    color: 6600CC;
}
.items{
    padding-left: 20px;
}

a{
    text-decoration: none;
}